.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
    font-size: 17px;
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
    width: 78px;
height: 36px;
padding: 5 24 5 24;
gap: 10px;
border-radius: 3   


}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    font-size: 17px;
}

.greeting {
    font-size: 17px;
}
