.container {
  width: 170px;
  height: 204px;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex; /* Flexbox для горизонтального выравнивания */
  align-items: center; /* Вертикальное выравнивание элементов */
  justify-content: flex-start; /* Разделение элементов по всей ширине */
  gap: 12px; /* Расстояние между элементами */
}

.number {
  font-size: 16px;
  width: 20px;
}
